.right {
  background-color: red;
  height: 100vh;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  width: 500px;
}

.telkom-img{
  width: 200px;
  height:200px
}

.title {
  font-size: 48px;
  margin-bottom: 36px;
}

.sign-in {
  display: flex;
  justify-content: space-between;
}